<!DOCTYPE html>
<html>
 <meta.charset="utf-8">
 <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <head>
    <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">meme generator</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href=https://www.youtube.com/>youtube</a></li>
        <li><a href="HA-node-s-/views/index.ejs">add memes</a></li>

      </ul>
    </div>
  </nav>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>PRESS A BUTTON FOR A RANDOM MEME!!!!!!</p>
    <!--add memes here by copy pasting each line of code and switching the website and button name -->
    <a class="waves-effect waves-light btn-large"href="https://www.youtube.com/watch?v=KEaBtjPLFuM">Magic schoolbus</a>
    <a class="waves-effect waves-light btn-large"href="https://www.youtube.com/watch?v=idm3J7I0qyQ"><i class="material-icons left"></i>WTF BOOM</a>
    <a class="waves-effect waves-light btn-large" href="https://www.youtube.com/watch?v=TdkG6OvhMA8"><i class="material-icons right"></i>pepe memes</a>
    <a class="waves-effect waves-light btn-large" href="https://www.youtube.com/watch?v=sFYo2-KUeTA"><i class="material-icons right"></i>thomas the dank engine</a>
    <a class="waves-effect waves-light btn-large" href="https://www.youtube.com/watch?v=hU7EHKFNMQg"><i class="material-icons right"></i>Sanic</a>
    <a class="waves-effect waves-light btn-large" href="https://www.youtube.com/watch?v=ZXsQAXx_ao0"><i class="material-icons right"></i>just do it</a>








  </body>
</html>
